//--------------------------------------------/
//  Variables   ------------------------------/
//--------------------------------------------/

// Colors
$backgroundColor : rgb(255, 251, 246);
$focusShadowColor : rgba(74,140,255,0.81);
$borderColor: rgba(128, 128, 128, 0.253);
$fontColor: rgb(69, 71, 71);

// Formatting
$mainDisplayType: grid;
$centerElementMargin: auto;