//--------------------------------------------/
//    Grid      ------------------------------/
//--------------------------------------------/

/*
*   General formatting */

body {
display: $mainDisplayType;
grid-gap: 10px;
grid-template-areas: 
"header"
"main";

  header {
    grid-area: header;
  }
  
  main {
  grid-area: main;
  }
}

.container {
    max-width: 1100px;
    margin: $centerElementMargin;

    .gallery{
        display: $mainDisplayType;
        grid-template-columns: repeat(auto-fit, minmax(248.5px, 1fr));
        margin: $centerElementMargin;
        grid-gap: 20px 10px;
        
        a {
          display: inline-block;
          margin: $centerElementMargin;
          max-width: 200px;
        }
    }
}