//--------------------------------------------/
//    Search    ------------------------------/
//--------------------------------------------/

/*  
*   Searchbar styling
*/
.search {
    display: block;
    margin: 20px auto;
    padding: 15px 35% 15px 2%;
    max-width: 700px;
}